.nav-links {
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: 1.4rem;
    margin: auto;

  }
  .nav-link-item {
    padding-right: 2.4rem;
  }

  .nav-link-item a {
    color: rgb(8, 86, 107);
  }