:root {
  --navy: #0c264b;
  --blue: #5492ff;
  --light-blue: #eef6ff;
  --orange: #fea700;
  --light-orange: #fff8ea;
  --gray: #434343;
}

body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  font-size: 18px;
}


h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  color: black;
}

h2 {
  font-size: 21px;
  color: black;
}

h3 {
  font-size: 1.25rem;
  font-weight: normal;
  color: black;
}

a {
  color:#237CB5;
  text-decoration: none;
}


a:hover, a:focus {
  transition: color .3s;
  
  
}

.header-anchor,
.header-anchor:focus,
.header-anchor:hover {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  padding-right: 4px;

  border-bottom: unset;
}

.header-anchor {
  opacity: 0;
}

.header-anchor:focus,
.header-anchor:hover {
  opacity: unset;
}

strong {
  font-weight: bold;
}

blockquote {
  background-color: var(--light-blue);
  padding: 1.5rem;
  font-size: 1.3rem;
}

blockquote :first-child {
  margin-top: 0;
}
blockquote :last-child {
  margin-bottom: 0;
}