@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
  font-family: 'Merriweather','Georgia',serif;
}


.container {
  /* display: flex;
  flex-direction: column; */
  padding: 0.9rem;
  min-height: 100vh;
  margin: auto;
}


.heading { 
    color: black;
    text-align: center;
  }


.site-title {
    font-size: 3rem;
    color:#08566b;
    font-weight: 700;
    margin: 0;
    font-family: 'Dancing Script', cursive;
    text-align: center;
  }

  
  .post-title {
    text-align: center;
  }

  .main {
    width: 100%;
    max-width: 50rem;
    margin: auto;
    flex: 1;
  }
  
