.box {
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    text-align: center;
    margin: auto;
    width:310px;
    height:70px;
    border:6px solid #5592FE;
    background-color: #EDF7FF;
    border-radius: 1ch;

}

.entry-content {
    padding: 0.2rem;
    margin-left: 1.8rem;
    margin-bottom: 2.3rem;
    margin-top: 2.5rem;
}

.picture {
    text-align: center;

}

